<ion-header>
  <ion-toolbar>
    <ion-title>Adicionar intervenção</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding modalContent">
  <form (ngSubmit)="newIntervencao(1)">
    <ion-list lines="full">
      <ion-item>
        <ion-label position="floating">Nome</ion-label>
        <ion-input
          [(ngModel)]="nomeInput"
          name="nome"
          placeholder="Enter text"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Descrição</ion-label>
        <ion-textarea
          [(ngModel)]="descInput"
          name="desc"
          placeholder="Enter text"
        ></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Kilometragem</ion-label>
        <ion-input
          type="number"
          [(ngModel)]="kilometragemInput"
          name="kilometragem"
          placeholder="Enter text"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Carro</ion-label>
        <ion-select [(ngModel)]="carInput" name="car" interface="popover">
          <ion-select-option
            *ngFor="let item of carros"
            value="{{ item.idCarro }}"
            >{{ item.nome }}</ion-select-option
          >
        </ion-select>
      </ion-item>
      <!-- <ion-item class="ion-margin-bottom">
        <ion-label position="floating">Tipo de Intervenção</ion-label>
        <ion-select [(ngModel)]="tipoInput" name="tipo" interface="popover">
          <ion-select-option value="apples">intervenção1</ion-select-option>
          <ion-select-option value="oranges">intervenção2</ion-select-option>
          <ion-select-option value="bananas">intervenção3</ion-select-option>
        </ion-select>
      </ion-item> -->

      <ion-button type="submit" expand="block" color="success">
        <ion-icon name="save"></ion-icon>
      </ion-button>
    </ion-list>
  </form>
</ion-content>
