.breadcrumbs {
  padding: 10px;
  box-shadow: 0 0px 5px var(--ion-color-medium);
  border-radius: 5px;
}
.dataGrid {
  box-shadow: 0 0 5px var(--ion-color-medium);
  padding: 10px;
  border-radius: 5px;
}
.header-row {
  border-bottom: 2px solid black;
  background-color: var(--ion-color-danger);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: white;
}
.header-rowInt {
  border-bottom: 2px solid black;
  background-color: var(--ion-color-success);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: black;
}
.data-row {
  align-items: center;
  border-bottom: 1px solid gray;
  padding-top: 5px;
  padding-bottom: 5px;
}
.marcaTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
