<div class="breadcrumbs">
  <ion-breadcrumbs>
    <ion-breadcrumb>{{ "cars" | translate }}</ion-breadcrumb>
    <ion-breadcrumb>{{ "models" | translate }}</ion-breadcrumb>
  </ion-breadcrumbs>
</div>
<ion-button
  *ngIf="!hideBtn"
  (click)="hideCreate = !hideCreate; this.hideUpdate = true; hideBtn = !hideBtn"
  expand="block"
  color="success"
  class="ion-margin-top"
>
  {{ "addModel" | translate }}
  <ion-icon name="add" slot="end"></ion-icon>
</ion-button>
<div class="addModelo" *ngIf="!hideCreate">
  <div class="marcaTitle">
    <h1>{{ "addModel" | translate }}</h1>
    <ion-button
      fill="clear"
      (click)="hideCreate = true; hideBtn = false"
      color="dark"
    >
      <ion-icon name="close" slot="icon-only"></ion-icon>
    </ion-button>
  </div>
  <form #myForm="ngForm" class="registerForm" (ngSubmit)="newModelo(myForm)">
    <ion-list class="formCss">
      <ion-item>
        <ion-label position="fixed">{{ "brand" | translate }}</ion-label>
        <ion-select
          mode="ios"
          required
          placeholder="{{ 'insertBrand' | translate }}"
          [(ngModel)]="marcaInput"
        >
          <ion-select-option
            *ngFor="let item of marcasArr"
            value="{{ item.idMarca }}"
          >
            {{ item.marca }}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="fixed">{{ "model" | translate }}</ion-label>
        <ion-input
          required
          name="modelo"
          type="text"
          placeholder="{{ 'insertModel' | translate }}"
          [(ngModel)]="modeloInput"
        ></ion-input>
      </ion-item>
    </ion-list>
    <ion-button type="submit" expand="block">
      {{ "add" | translate }}
    </ion-button>
  </form>
</div>
<div class="updateModelo" *ngIf="!hideUpdate">
  <div class="marcaTitle">
    <h1>{{ "updateModel" | translate }}</h1>
    <ion-button fill="clear" (click)="hideUpdate = true" color="dark">
      <ion-icon name="close" slot="icon-only"></ion-icon>
    </ion-button>
  </div>

  <form class="registerForm" (ngSubmit)="updateModelo()">
    <ion-list class="formCss">
      <ion-item class="ion-margin-bottom">
        <ion-label position="fixed">{{ "brand" | translate }}</ion-label>
        <ion-select mode="ios" required [(ngModel)]="marcaUpdateInput">
          <ion-select-option
            *ngFor="let item of marcasArr"
            value="{{ item.idMarca }}"
          >
            {{ item.marca }}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-input
        type="number"
        hidden
        [(ngModel)]="idModeloUpdateInput"
      ></ion-input>
      <ion-item>
        <ion-label position="fixed">{{ "model" | translate }}</ion-label>
        <ion-input
          required
          name="modelo"
          type="text"
          placeholder="{{ 'insertModel' | translate }}"
          [(ngModel)]="modeloUpdateInput"
        ></ion-input>
      </ion-item>
    </ion-list>
    <ion-button type="submit" expand="block">
      {{ "update" | translate }}
    </ion-button>
  </form>
</div>
<div class="modelosSection">
  <h1>{{ "models" | translate }}</h1>
  <ion-searchbar
    mode="ios"
    show-clear-button="always"
    placeholder="{{ 'search' | translate }}"
    [(ngModel)]="searchTerm"
    (ionChange)="getAllModelos()"
  ></ion-searchbar>
  <!-- tabela-->
  <div class="dataGrid">
    <ion-row class="header-row ion-padding-top ion-padding-bottom">
      <ion-col size="4"> {{ "brand" | translate }} </ion-col>
      <ion-col size="4" tappable (click)="sortBy('modelo')">
        {{ "model" | translate }}
        <ion-icon name="arrow-down" *ngIf="sortDirection == 1"></ion-icon>
        <ion-icon name="arrow-up" *ngIf="sortDirection == 2"></ion-icon>
      </ion-col>
      <ion-col size="4"> {{ "action" | translate }} </ion-col>
    </ion-row>
    <!-- data -->
    <ion-row
      class="data-row"
      *ngFor="let row of modelosArr | filter : searchTerm"
    >
      <ion-col size="4">
        {{ row.marcaType.marca }}
      </ion-col>
      <ion-col size="4">
        {{ row.modelo }}
      </ion-col>
      <ion-col size="4" class="ion-text-center">
        <ion-button
          size="small"
          color="primary"
          (click)="updateInputModelo(row)"
        >
          <ion-icon name="create"></ion-icon>
        </ion-button>
        <ion-button
          size="small"
          color="danger"
          (click)="deleteActionSheet(row.idModelo)"
        >
          <ion-icon name="trash"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row class="ion-margin-top">
      <ion-col size="12" class="ion-text-center">
        {{ page + 1 }} of {{ totalPages }}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="2">
        <ion-button fill="clear" [disabled]="disabledBack" (click)="goFirst()">
          <ion-icon name="play-back" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="2">
        <ion-button fill="clear" [disabled]="disabledBack" (click)="prevPage()">
          <ion-icon name="chevron-back" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="4" class="ion-text-center">
        <ion-select
          interface="popover"
          [(ngModel)]="resultsCount"
          (ionChange)="loadModelosCount(); loadModelos(); this.disableBtn()"
        >
          <ion-select-option [value]="5">
            5 {{ "perPage" | translate }}
          </ion-select-option>
          <ion-select-option [value]="10">
            10 {{ "perPage" | translate }}
          </ion-select-option>
          <ion-select-option [value]="25">
            25 {{ "perPage" | translate }}
          </ion-select-option>
          <ion-select-option [value]="50">
            50 {{ "perPage" | translate }}
          </ion-select-option>
          <ion-select-option [value]="100">
            100 {{ "perPage" | translate }}
          </ion-select-option>
        </ion-select>
      </ion-col>
      <ion-col size="2">
        <ion-button
          fill="clear"
          [disabled]="disabledForward"
          (click)="nextPage()"
        >
          <ion-icon name="chevron-forward" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="2">
        <ion-button
          fill="clear"
          [disabled]="disabledForward"
          (click)="goLast()"
        >
          <ion-icon name="play-forward" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </div>
</div>
