<ion-toolbar color="primary">
  <ion-buttons slot="primary">
    <ion-button fill="solid" color="primary">
      <ion-icon name="help-circle"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-title>
    <ion-icon size="large" name="car-sport-outline"></ion-icon>
  </ion-title>
</ion-toolbar>

<ion-content [fullscreen]="true">
  <ion-img src="../../assets/Car.svg" alt="IntervençãoImg" class="ion-padding">
  </ion-img>
  <ion-text
    class="tituloSection ion-align-items-center ion-padding"
    color="dark"
  >
    <h1>{{ 'add' | translate}}</h1>
    <ion-button (click)="openModalCreateIntervencao()" size="small">
      <ion-icon slot="icon-only" name="add-outline"></ion-icon>
    </ion-button>
  </ion-text>
  <ion-card button color="dark" *ngFor="let item of carros">
    <ion-card-header>
      <ion-card-title>{{item.nome}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-text>
        <p>Modelo: {{item.marca}}</p>
        <p>Kilometragem: {{item.kilometragem}}</p>
      </ion-text>
    </ion-card-content>
    <div class="btnCard">
      <ion-button (click)="openModalUpdateIntervencao(item)">
        <ion-icon slot="icon-only" name="create"></ion-icon>
      </ion-button>
      <ion-button color="danger">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-button>
    </div>
  </ion-card>
</ion-content>
