<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Tab 2 </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item-sliding *ngFor="let item of carsArray">
    <ion-item-options side="start">
      <ion-item-option color="danger"
        ><ion-icon name="trash-bin" (click)="(item.id)"></ion-icon
      ></ion-item-option>
    </ion-item-options>
    <ion-item>
      <ion-label>{{item.title}}</ion-label>
      <ion-button (click)="(item)"
        ><ion-icon name="search-outline"></ion-icon
      ></ion-button>
    </ion-item>
  </ion-item-sliding>
</ion-content>
