<ion-header>
  <ion-toolbar>
    <ion-title>Editar carro</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding modalContent">
  <form (ngSubmit)="newUpdate()" class="formCss">
    <ion-list lines="full">
      <ion-item class="ion-margin-bottom">
        <ion-label position="floating">{{ "name" | translate }}</ion-label>
        <ion-input
          [(ngModel)]="nomeInput"
          name="nome"
          placeholder="{{ 'insertText' | translate }}"
        ></ion-input>
      </ion-item>
      <ion-item class="ion-margin-bottom">
        <ion-label position="floating">{{ "brand" | translate }}</ion-label>
        <ion-select
          [(ngModel)]="marcaInput"
          name="marca"
          (ionChange)="loadModelo($event)"
        >
          <ion-select-option
            *ngFor="let item of marcas"
            value="{{ item.idMarca }}"
          >
            {{ item.marca }}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item class="ion-margin-bottom">
        <ion-label position="floating">{{ "model" | translate }}</ion-label>
        <ion-select [(ngModel)]="modeloInput" name="modelo">
          <ion-select-option
            *ngFor="let item of modelos"
            value="{{ item.idModelo }}"
          >
            {{ item.modelo }}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item class="ion-margin-bottom">
        <ion-label position="floating">{{ "engine" | translate }}</ion-label>
        <ion-input
          [(ngModel)]="motorInput"
          name="motor"
          placeholder="{{ 'insertText' | translate }}"
        >
        </ion-input>
      </ion-item>
      <ion-item class="ion-margin-bottom">
        <ion-label position="floating">{{ "fuel" | translate }}</ion-label>
        <ion-select [(ngModel)]="fuelInput" name="fuel">
          <ion-select-option
            *ngFor="let item of gasType"
            value="{{ item.idGasType }}"
          >
            {{ item.gasType }}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item class="ion-margin-bottom">
        <ion-label position="floating">{{ "year" | translate }}</ion-label>
        <ion-select [(ngModel)]="yearInput" name="year">
          <ion-select-option
            *ngFor="let item of years"
            value="{{ item.idYear }}"
          >
            {{ item.year }}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item class="ion-margin-bottom">
        <ion-label position="floating">{{
          "Killometers" | translate
        }}</ion-label>
        <ion-input
          type="number"
          [(ngModel)]="kilometragemInput"
          name="kilometragem"
          placeholder="{{ 'insertKM' | translate }}"
        >
        </ion-input>
      </ion-item>

      <ion-button type="submit" expand="block" color="success">
        <ion-icon name="save"></ion-icon>
      </ion-button>
    </ion-list>
  </form>
</ion-content>
