<ion-split-pane contentId="main-content">
  <!-- Menu lateral -->
  <ion-menu
    type="overlay"
    class="sideMenu"
    contentId="main-content"
    swipe-gesture
  >
    <ion-toolbar color="primary">
      <ion-icon
        slot="start"
        class="logoNavbar2 ion-margin-start"
        size="large"
        name="car-sport-outline"
      ></ion-icon>

      <ion-title> DASHBOARD </ion-title>
      <ion-menu-toggle slot="end">
        <ion-button fill="clear">
          <ion-icon
            slot="icon-only"
            class="menoIcon"
            name="arrow-back-outline"
          ></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-toolbar>

    <ion-content class="ion-padding">
      <ion-item button (click)="changeContent(1)" value="stats" lines="full">
        <ion-icon
          class="menoIcon"
          slot="start"
          name="stats-chart-outline"
        ></ion-icon>
        <ion-label>
          <h2>{{ "statistics" | translate }}</h2>
        </ion-label>
      </ion-item>
      <ion-item button (click)="changeContent(2)" value="users" lines="full">
        <ion-icon class="menoIcon" slot="start" name="people"></ion-icon>
        <ion-label>
          <h2>{{ "users" | translate }}</h2>
        </ion-label>
      </ion-item>
      <ion-item
        button
        (click)="changeContent(3)"
        value="interventions"
        lines="full"
      >
        <ion-icon class="menoIcon" slot="start" name="build"></ion-icon>
        <ion-label>
          <h2>{{ "interventions" | translate }}</h2>
        </ion-label>
      </ion-item>
      <ion-item button (click)="changeContent(4)" lines="full">
        <ion-icon class="menoIcon" slot="start" name="car"></ion-icon>
        <ion-label>
          <h2>{{ "cars" | translate }}</h2>
        </ion-label>
      </ion-item>

      <ion-accordion-group>
        <ion-accordion>
          <ion-item slot="header">
            <ion-icon
              class="menoIcon"
              slot="start"
              name="compass-outline"
            ></ion-icon>

            <ion-label>
              <h2>{{ "navigate" | translate }}</h2>
            </ion-label>
          </ion-item>
          <ion-list slot="content">
            <ion-item button href="#/tabs/tab1">
              <ion-icon class="menoIcon" name="arrow-redo-outline"></ion-icon>
              <ion-label> {{ "pagInt" | translate }}</ion-label>
            </ion-item>
            <ion-item button href="#/tabs/tab2">
              <ion-icon class="menoIcon" name="arrow-redo-outline"></ion-icon>
              <ion-label> {{ "pagCar" | translate }} </ion-label>
            </ion-item>
            <ion-item button href="#/tabs/tab3">
              <ion-icon class="menoIcon" name="arrow-redo-outline"></ion-icon>
              <ion-label> {{ "pagAcount" | translate }} </ion-label>
            </ion-item>
          </ion-list>
        </ion-accordion>
      </ion-accordion-group>
      <div class="bottomIcon ion-padding">
        <ion-buttons>
          <ion-button (click)="changeLanguage('en')" class="menoIcon">
            EN
          </ion-button>
          <ion-button (click)="changeLanguage('pt')" class="menoIcon">
            PT
          </ion-button>
        </ion-buttons>
      </div>
      <div class="bottomIconLeft">
        <ion-button fill="clear" (click)="toggleTheme($event)">
          <ion-icon
            *ngIf="!toggleDarkMode"
            class="menoIcon"
            name="moon"
          ></ion-icon>
          <ion-icon
            *ngIf="toggleDarkMode"
            class="menoIcon"
            name="sunny"
          ></ion-icon>
        </ion-button>
      </div>
    </ion-content>
  </ion-menu>
  <!-- content MAIN -->
  <div class="ion-page" id="main-content">
    <!-- Menu main content -->
    <ion-toolbar mode="md">
      <ion-menu-toggle slot="start">
        <ion-button fill="clear">
          <ion-icon
            class="menoIcon"
            slot="icon-only"
            name="menu-outline"
          ></ion-icon>
        </ion-button>
      </ion-menu-toggle>
      <ion-buttons slot="end">
        <ion-button fill="clear" href="#/tabs/tab3">
          <ion-icon name="person"></ion-icon>
          <ion-text> {{username}}</ion-text>
        </ion-button>

        <ion-button (click)="logout()" fill="clear">
          <ion-icon name="log-out"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title class="logoNavbar1">
        <ion-icon size="large" name="car-sport-outline"></ion-icon>
      </ion-title>
    </ion-toolbar>
    <ion-content [ngSwitch]="contentSegment">
      <!-- STATS PAGE -->
      <div *ngSwitchCase="1" class="ion-padding">
        <app-stats></app-stats>
        <ion-row class="ion-margin-bottom">
          <ion-col size="12" class="ion-padding IntTypeGraph">
            <div class="flexGraph">
              <h1>{{'interventionByType'|translate}}</h1>
              <ion-button fill="clear" (click)="loadCountIntbyType()">
                <ion-icon slot="icon-only" name="refresh-outline"></ion-icon>
              </ion-button>
            </div>
            <canvas
              baseChart
              *ngIf="chartLoaded==true"
              class="grafico ion-padding"
              [data]="barChartData"
              [options]="barChartOptions"
              [type]="barChartType"
            >
            </canvas>
          </ion-col>
        </ion-row>
      </div>
      <!-- USERS PAGE -->
      <div *ngSwitchCase="2" class="ion-padding">
        <app-users></app-users>
      </div>
      <!-- INTERVENTIONS PAGE -->
      <div *ngSwitchCase="3" class="ion-padding">
        <app-interventions></app-interventions>
      </div>
      <!-- CARS PAGE -->
      <div *ngSwitchCase="4" class="ion-padding">
        <ion-segment [(ngModel)]="type" mode="md" class="segmentos">
          <ion-segment-button value="marcas">
            <ion-label>{{ "brands" | translate }}</ion-label>
          </ion-segment-button>
          <ion-segment-button value="modelos">
            <ion-label>{{ "models" | translate }}</ion-label>
          </ion-segment-button>
          <ion-segment-button value="outros">
            <ion-label>{{ "others" | translate }}</ion-label>
          </ion-segment-button>
        </ion-segment>
        <div [ngSwitch]="type">
          <app-marcas *ngSwitchCase="'marcas'"></app-marcas>
          <app-modelos *ngSwitchCase="'modelos'"></app-modelos>
          <div *ngSwitchCase="'outros'">
            <div class="breadcrumbs">
              <ion-breadcrumbs>
                <ion-breadcrumb>{{ "cars" | translate }}</ion-breadcrumb>
                <ion-breadcrumb>{{ "others" | translate }}</ion-breadcrumb>
              </ion-breadcrumbs>
            </div>
            <div class="tabelasCarroOutros">
              <app-gas-type></app-gas-type>
              <app-years></app-years>
            </div>
          </div>
        </div>
      </div>
    </ion-content>
  </div>
</ion-split-pane>
