<app-navbar></app-navbar>

<ion-content [fullscreen]="true">
  <!-- Título -->
  <ion-img
    class="pageImg"
    src="../../assets/Gear.svg"
    alt="IntervençãoImg"
    class="ion-padding"
  >
  </ion-img>
  <ion-text
    *ngIf="haveCars"
    class="tituloSection ion-align-items-center ion-padding"
    color="dark"
  >
    <h1>{{ 'add' | translate}}</h1>
    <ion-button size="small" (click)="openModalCreateIntervencao()">
      <ion-icon slot="icon-only" name="add-outline"></ion-icon>
    </ion-button>
  </ion-text>

  <!-- Inervenções -->
  <div *ngIf="haveCars">
    <ion-list class="ion-padding formCss" *ngIf="haveInterventions">
      <ion-item-sliding
        class="ion-margin-bottom"
        *ngFor="let item of intervencoes"
      >
        <ion-item lines="full">
          <ion-label>
            <ion-text>{{'Car'|translate}}: {{item.carro.nome}} </ion-text>
            <h1 class="ion-text-wrap">{{'name'|translate}}: {{item.nome}}</h1>
            <p>{{'type'| translate}}: {{item.intType.interventionType}}</p>
            <p>{{'date'|translate}}: {{item.data}}</p>
          </ion-label>
          <h3>{{item.price}} €</h3>

          <ion-icon name="caret-back-outline" slot="end"></ion-icon>
        </ion-item>

        <ion-item-options>
          <ion-item-option
            (click)="openModalInfoIntervencao(item)"
            color="success"
          >
            <ion-icon class="icons" slot="icon-only" name="eye"></ion-icon>
          </ion-item-option>
          <ion-item-option (click)="openModalUpdateIntervencao(item)">
            <ion-icon slot="icon-only" name="create"></ion-icon>
          </ion-item-option>
          <ion-item-option
            (click)="deleteIntervencaoActionSheet(item.idIntervencao)"
            color="danger"
          >
            <ion-icon slot="icon-only" name="trash"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>

      <!-- <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll> -->
    </ion-list>
    <ion-text
      *ngIf="!haveInterventions"
      class="ion-padding ion-text-center noCars"
    >
      <h3>{{'noInt'| translate}}</h3>
    </ion-text>
  </div>
  <ion-content *ngIf="!haveCars" class="ion-padding">
    <ion-text class="ion-padding ion-text-center noCars">
      <h3>{{'noCarsInt'| translate}}</h3>
    </ion-text>
    <ion-button href="#/tabs/tab2" expand="block"
      >{{'car title'|translate}}</ion-button
    >
  </ion-content>
</ion-content>
