<ion-header>
  <ion-toolbar>
    <ion-title>{{ "carInfoText" | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding modalContent modalImg">
  <ion-icon name="car-sport-outline"></ion-icon>
  <h1 class="ion-text-center">{{ item.nome }}</h1>
  <div class="infoContent">
    <ion-list>
      <ion-item>
        <ion-label>
          <b>{{ "brand" | translate }}:</b>
          {{ item.marcaType.marca }}
          {{ item.modeloType.modelo }}
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <b>{{ "engine" | translate }}:</b> {{ item.motor }}
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <b>{{ "year" | translate }}:</b>
          {{ item.yearType.year }}
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <b>{{ "fuel" | translate }}:</b>
          {{ item.gasType.gasType }}
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <b>{{ "Killometers" | translate }}:</b>
          {{ item.kilometragem }} Km
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
