<ion-header>
  <ion-toolbar>
    <ion-title>{{ "carIngoText" | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding modalContent">
  <h1 class="ion-text-center">{{ item.nome }}</h1>
  <p class="">{{ "brand" | translate }} : {{ item.marca }}</p>
  <p class="">{{ "model" | translate }} : {{ item.modelo }}</p>
  <p class="">{{ "engine" | translate }} : {{ item.motor }}</p>
  <p class="">{{ "year" | translate }} : {{ item.yearType.year }}</p>
  <p class="">{{ "fuel" | translate }} : {{ item.gasType.gasType }}</p>
  <p class="">{{ "Killometers" | translate }} : {{ item.kilometragem }}</p>
</ion-content>
