<ion-header>
  <ion-toolbar>
    <ion-title>Ver Intervenção</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding modalContent">
  <h1 class="ion-text-center">{{ item.nome }}</h1>
  <p class="">Description: {{ item.marca }}</p>
  <p class="">Description: {{ item.modelo }}</p>
  <p class="">Description: {{ item.motor }}</p>
  <p class="">Description: {{ item.ano }}</p>
  <p class="">Description: {{ item.gas }}</p>
  <p class="">kilometragem: {{ item.kilometragem }}</p>
  <p class="">Preço: {{ item.price }}€</p>
</ion-content>
