.modalImg ion-icon {
  font-size: 150px;
}
.modalImg {
  text-align: center;
}
.infoContent {
  font-size: large;
}
.infoContent ion-list ion-item {
  border-radius: 5px;
  margin-bottom: 5px;
}
.infoContent ion-list {
  background-color: rgba(0, 0, 0, 0);
}
