.userTitle {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: flex-start;
  margin-left: 40px;
}
.update {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}
.updateBtn {
  width: 100px;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.langSettings,
.darkmode {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.linhaGastosCarro,
.linhaGastosTotal {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.linhaGastosTotal {
  border-top: 1px solid var(--ion-color-medium);
}
