<ion-button
  *ngIf="!hideBtn"
  (click)="hideCreate = !hideCreate; this.hideUpdate = true; hideBtn = !hideBtn"
  expand="block"
  color="success"
  class="ion-margin-top"
>
  Adicionar Anos
  <ion-icon name="add" slot="end"></ion-icon>
</ion-button>
<div class="addGasType" *ngIf="!hideCreate">
  <div class="marcaTitle">
    <h1>Adicionar Ano</h1>
    <ion-button
      fill="clear"
      (click)="hideCreate = true; hideBtn = false"
      color="dark"
    >
      <ion-icon name="close" slot="icon-only"></ion-icon>
    </ion-button>
  </div>
  <form #myForm="ngForm" class="registerForm" (ngSubmit)="newYear(myForm)">
    <ion-list class="formCss">
      <ion-item>
        <ion-label position="fixed">Ano</ion-label>
        <ion-input
          required
          name="ano"
          type="number"
          min="0"
          placeholder="Insere um Ano"
          [(ngModel)]="yearInput"
        ></ion-input>
      </ion-item>
    </ion-list>
    <ion-button type="submit" expand="block">
      {{ "add" | translate }}
    </ion-button>
  </form>
</div>

<div class="updateGasType" *ngIf="!hideUpdate">
  <div class="marcaTitle">
    <h1>Editar Ano</h1>
    <ion-button fill="clear" (click)="hideUpdate = true" color="dark">
      <ion-icon name="close" slot="icon-only"></ion-icon>
    </ion-button>
  </div>

  <form class="registerForm" (ngSubmit)="updateYear()">
    <ion-list class="formCss">
      <ion-input
        type="number"
        hidden
        [(ngModel)]="idYearUpdateInput"
      ></ion-input>
      <ion-item>
        <ion-label position="fixed">Ano</ion-label>
        <ion-input
          required
          name="ano"
          type="number"
          min="0"
          placeholder="Insere um Ano"
          [(ngModel)]="yearUpdateInput"
        ></ion-input>
      </ion-item>
    </ion-list>
    <ion-button type="submit" expand="block">
      {{ "update" | translate }}
    </ion-button>
  </form>
</div>
<div class="gasTypeSection">
  <h1>Anos</h1>
  <ion-searchbar
    mode="ios"
    show-clear-button="always"
    placeholder="Procurar"
    [(ngModel)]="searchTerm"
    (ionChange)="getAll()"
  ></ion-searchbar>
  <!-- tabela-->
  <div class="dataGrid">
    <ion-row class="header-row ion-padding-top ion-padding-bottom">
      <ion-col ssize="2" size-md="2" class="ion-hide-sm-down"> ID </ion-col>
      <ion-col
        size="8"
        size-xs="8"
        size-sm="6"
        size-md="6"
        tappable
        (click)="sortBy('year')"
      >
        Ano
        <ion-icon name="arrow-down" *ngIf="sortDirection == 1"></ion-icon>
        <ion-icon name="arrow-up" *ngIf="sortDirection == 2"></ion-icon>
      </ion-col>
      <ion-col size="2" size-xs="4" size-sm="4" size-md="4"> Ação </ion-col>
    </ion-row>
    <!-- data -->
    <ion-row class="data-row" *ngFor="let row of yearArr | filter : searchTerm">
      <ion-col size="2" size-md="2" class="ion-hide-sm-down">
        {{ row.idYear }}
      </ion-col>
      <ion-col size="8" size-xs="8" size-sm="6" size-md="6">
        {{ row.year }}
      </ion-col>
      <ion-col
        size="2"
        size-xs="4"
        size-sm="4"
        size-md="4"
        class="ion-text-center"
      >
        <ion-button size="small" color="primary" (click)="updateInputYear(row)">
          <ion-icon name="create"></ion-icon>
        </ion-button>
        <ion-button
          size="small"
          color="danger"
          (click)="deleteActionSheet(row.idYear)"
        >
          <ion-icon name="trash"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row class="ion-margin-top">
      <ion-col size="12" class="ion-text-center">
        {{ page + 1 }} of {{ totalPages }}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="2">
        <ion-button fill="clear" [disabled]="disabledBack" (click)="goFirst()">
          <ion-icon name="play-back" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="2">
        <ion-button fill="clear" [disabled]="disabledBack" (click)="prevPage()">
          <ion-icon name="chevron-back" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="4" class="ion-text-center">
        <ion-select
          interface="popover"
          [(ngModel)]="resultsCount"
          (ionChange)="loadYearsCount(); loadYears(); this.disableBtn()"
        >
          <ion-select-option [value]="5">5 por página</ion-select-option>
          <ion-select-option [value]="10"> 10 por página </ion-select-option>
          <ion-select-option [value]="25"> 25 por página </ion-select-option>
          <ion-select-option [value]="50"> 50 por página </ion-select-option>
          <ion-select-option [value]="100"> 100 por página </ion-select-option>
        </ion-select>
      </ion-col>
      <ion-col size="2">
        <ion-button
          fill="clear"
          [disabled]="disabledForward"
          (click)="nextPage()"
        >
          <ion-icon name="chevron-forward" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="2">
        <ion-button
          fill="clear"
          [disabled]="disabledForward"
          (click)="goLast()"
        >
          <ion-icon name="play-forward" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </div>
</div>
