<ion-header>
  <ion-toolbar>
    <ion-title>qweqweWW</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding modalContent">
  <form (ngSubmit)="newCar(1)">
    <ion-list lines="full">
      <ion-item>
        <ion-label position="floating">Nome</ion-label>
        <ion-input
          [(ngModel)]="nomeInput"
          name="nome"
          placeholder="Enter text"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Marca/modelo</ion-label>
        <ion-input
          [(ngModel)]="marcaInput"
          name="marca"
          placeholder="Enter text"
        >
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Kilometragem</ion-label>
        <ion-input
          [(ngModel)]="kilometragemInput"
          name="kilometragem"
          placeholder="Enter text"
        >
        </ion-input>
      </ion-item>

      <ion-button type="submit" expand="block" color="success">
        <ion-icon name="save"></ion-icon>
      </ion-button>
    </ion-list>
  </form>
</ion-content>
