<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-wrap">{{
      "interInfoText" | translate
    }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding modalContent">
  <h1 class="ion-text-center">{{ item.nome }}</h1>
  <h3 class="">{{ "name" | translate }}: {{ item.carro.nome }}</h3>
  <p class="">{{ "desc" | translate }}: {{ item.description }}</p>
  <p class="">{{ "Killometers" | translate }}: {{ item.kilometragem }}</p>
  <p class="">{{ "Cost" | translate }}: {{ item.price }}€</p>
</ion-content>
