.modalImg ion-img {
  width: 30%;
}
.infoContent {
  font-size: large;
}
.infoContent ion-list ion-item {
  border-radius: 5px;
  margin-bottom: 5px;
}
.infoContent ion-list {
  background-color: rgba(0, 0, 0, 0);
}
