<ion-toolbar color="primary">
  <ion-title>
    <ion-icon size="large" name="car-sport-outline"></ion-icon>
  </ion-title>
</ion-toolbar>

<ion-content class="ion-align-self-center">
  <ion-text class="ion-text-center">
    <h2>{{ '404' | translate}}</h2>
  </ion-text>
  <ion-img
    src="../../assets/404 Error-pana.svg"
    alt="IntervençãoImg"
    class="ion-padding"
  />

  <ion-button
    class="ion-margin ion-margin-top"
    expand="block"
    routerLink="/"
    routerDirection="root"
    >{{ 'goback' | translate}}</ion-button
  >
</ion-content>
