<ion-toolbar color="primary">
  <ion-title>
    <ion-icon size="large" name="car-sport-outline"></ion-icon>
  </ion-title>
</ion-toolbar>

<ion-content class="ion-padding">
  <ion-text class="ion-text-center ion-margin-top">
    <h1>{{ '404' | translate}}</h1>
  </ion-text>
  <ion-img
    src="../../assets/404 Error-pana.svg"
    alt="IntervençãoImg"
    class="ion-padding"
  />

  <ion-button
    class="PageNotFoundBtn"
    expand="block"
    routerLink="/"
    routerDirection="root"
    >{{ 'goback' | translate}}</ion-button
  >
</ion-content>
