<ion-header>
  <ion-toolbar>
    <ion-title>Editar Intervenção</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding modalContent">
  <form (ngSubmit)="newUpdate()">
    <ion-list lines="full" class="formCss">
      <ion-item class="ion-margin-bottom">
        <ion-label position="floating">{{ "name" | translate }}</ion-label>
        <ion-input
          [(ngModel)]="nomeInput"
          name="nome"
          placeholder="{{ 'insertText' | translate }}"
        >
        </ion-input>
      </ion-item>
      <ion-item class="ion-margin-bottom">
        <ion-label position="floating">Tipo de Intervenção</ion-label>
        <ion-select [(ngModel)]="tipoInput" name="tipo" interface="popover">
          <ion-select-option
            *ngFor="let item of interventionType"
            value="{{ item.idInterventionType }}"
          >
            {{ item.interventionType }}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item class="ion-margin-bottom">
        <ion-label position="floating">{{ "desc" | translate }}</ion-label>
        <ion-textarea
          [(ngModel)]="descInput"
          name="desc"
          placeholder="{{ 'insertText' | translate }}"
        ></ion-textarea>
      </ion-item>
      <ion-item class="ion-margin-bottom">
        <ion-label position="floating">{{
          "Killometers" | translate
        }}</ion-label>
        <ion-input
          type="number"
          [(ngModel)]="kilometragemInput"
          name="kilometragem"
          placeholder="{{ 'insertKM' | translate }}"
        ></ion-input>
      </ion-item>
      <ion-item class="ion-margin-bottom">
        <ion-label position="floating">{{ "Car" | translate }}</ion-label>
        <ion-input [(ngModel)]="carroInput" name="car" disabled></ion-input>
      </ion-item>
      <ion-item class="ion-margin-bottom">
        <ion-label position="floating">
          {{ "expenses" | translate }}
        </ion-label>
        <ion-input
          type="number"
          [(ngModel)]="priceInput"
          name="price"
          placeholder="{{ 'insertPrice' | translate }}"
        >
          <ion-icon name="logo-euro"></ion-icon>
        </ion-input>
      </ion-item>

      <ion-button type="submit" expand="block" color="success">
        <ion-icon name="save"></ion-icon>
      </ion-button>
    </ion-list>
  </form>
</ion-content>
